<!doctype html>
<html lang="en">

  <%- include('./partials/head') %>

  <body>

<div class="container py-3">
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <h1>404 error, page does not exist</h1>
      </div>
  </main>
</div>

</body>
</html>
